#inventory, #equipment, #formulas, #stats {
	overflow: auto;
}

.items {
	font-style: italic;
	text-decoration: none !important;
	color: #404040;
}

.items:hover {
	color: #000;
	cursor: default;
}

#equipment p, #stats p {
	display: inline-block;
}

.equipment:hover {
	cursor: pointer;
} 

// Override bootstrap.min.css
p {
	margin: 0;
}
